@model IEnumerable<TieuLuan.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h2 class="text-center">Về Chúng Tôi</h2>

<p>
    <a href="@Url.Action("Create", "Abouts")" class="btn btn-info">
        Tạo Mới
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AboutUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutUs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutImg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Abouts", new { id = item.AboutId })" class="btn btn-success">
                        <i class="fa fa-flash"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Details", "Abouts", new { id = item.AboutId })" class="btn btn-primary">
                        <i class="fa fa-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Abouts", new { id = item.AboutId})" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
