@model TieuLuan.Models.Role

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h3>Bạn có chắc rằng mình muốn xóa quyền này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a href="@Url.Action("Index", "Roles")" class="btn btn-info">Quản Lý</a>
    </div>
    }
</div>
