@model TieuLuan.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductsOldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductsOldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
