@model TieuLuan.Models.Delivery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h2 class="text-center">Thông Tin Phục Vụ Giao Hàng</h2>
<div><a href="@Url.Action("Index", "Deliveries")" class="btn btn-info">Quản lý</a></div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryQuestion)

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Deliveries", new { id = Model.DeliveryId })" class="btn btn-success">Chỉnh Sửa</a>
</p>