@model TieuLuan.Models.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h3>Bạn có chắc rằng mình muốn xóa tin tức này không?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewTitles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewTitles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsBy)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a href="@Url.Action("Index", "News")" class="btn btn-info">Quản Lý</a>
    </div>
    }
</div>
