@model TieuLuan.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}

<h2 class="text-center">Thông Tin Tin Tức</h2>
<div><a href="@Url.Action("Index", "News")" class="btn btn-info">Quản lý</a></div>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewTitles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewTitles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsImgs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsImgs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeePass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeePass)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "News", new { id = Model.NewsId })" class="btn btn-success">Chỉnh Sửa</a>
</p>
