@model TieuLuan.Models.Promotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Administrator.cshtml";
}
<h2 class="text-center">Chi Tiết Khuyến Mãi</h2>
<a href="@Url.Action("Index", "Promotions")" class="btn btn-info">Quản Lý</a>


<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PromotionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionClose)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Promotions", new { id = Model.PromotionId})" class="btn btn-success">Chỉnh Sửa</a>
</p>
